.hidden {
  display: none;
}

/* #region Global */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion Global */

/* #region Top Line */

.top-line {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.top-line-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu, .contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.top-line-logo {
  padding: 16px 0;
  display: block;
}

.logo-span {
  color: #2e2f42;
}

.menu-open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-open-btn-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.menu-open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}
}









.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.studio {
  position: relative;
  color: #404bbf;
}

.studio::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.studio:active::after {
  display: block;
  border-radius: 2px;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  margin-top: 20px;
  position: absolute;
  content: '';
}



.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
}

.contacts-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* .menu-link,
.contacts-link,
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
} */

/* .logo {
  padding-left: 16px
} */



  .mob-menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mob-menu-cont.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

  .mob-menu-cont .cross-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    /* display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0; */

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-cont .cross-icon {
    color: currentColor;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .cross-btn:hover,
  .cross-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .cross-btn:hover .cross-icon,
  .cross-btn:focus .cross-icon {
    fill: #fff;
  }

  .mob-navigation {
  }
  .mob-menu-cont .logo {
  }
  .mob-menu-cont .logo-span {
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mob-menu-item {
  }

  .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .mob-menu-cont .studio {
  }
  .mob-contacts {
    margin-bottom: 48px;
  }

  .mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mob-contacts-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
  }

  .mob-contacts-link {
  }

  .mob-menu-cont .media-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding-left: 16px;
  }

  .mob-menu-cont .media-item {
  }
  .mob-menu-cont .media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu-cont .media-link-icon {
  }

  /* #endregion Top Line */

  /* #region Section "Hero" */

  .hero .container {
    padding: 72px 0;
  }

  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-hero/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-hero/hero-mob@2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }

  @media screen and (min-width: 768px) {
    .hero .container {
      padding: 112px 0;
    }

    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-hero/hero-tab.jpg);
      max-width: 768px;
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/section-hero/hero-tab@2x.jpg);
      }
    }

    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
      margin-bottom: 36px;
    }
  }

  @media screen and (min-width: 1158px) {
    .hero .container {
      padding: 188px 0;
    }

    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-hero/hero-desktop.jpg);
      max-width: 1440px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-hero/hero-desktop@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* #endregion Section "Hero" */

/* #region Section "Advantages" */

.advantages .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-title {
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.advantages-icon {
  display: none;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon {
    display: flex;
  }

  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-item-text {
    font-weight: 400;
  }
}

/* #endregion Section "Advantages" */

/* #region Section "Team" */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  max-width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-descr {
  padding: 32px 0;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: inherit;
  margin-bottom: 8px;
}

.media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

.media-link-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team .container {
    .team-list {
      gap: 24px;
    }
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team .container {
    max-width: 552px;
  }
}
/* #endregion Section "Team" */

/* #region Section "Portfolio" */

.portfolio .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 0;
  justify-content: center;
}

.portfolio-item {
  background-color: #fff;
  /* width: calc((100% - 48px) / 3); */
  margin-top: 8px;
  position: relative;
  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transform: translateY(0%);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  position: relative;
  overflow: hidden;
}

.portfolio-item-dscr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* #endregion Section "Portfolio" */
